/*.rainviewer-button {
    position: absolute;
    bottom: 200px;
    left: 22px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rainviewer-button:hover {
    background-color: #c9c9c9;
}

.rainviewer-button span {
    line-height: 1;
}*/



/* Rain Viewer Floating Panel */
.leaflet-control-rainviewer-active {
    position: absolute;
    bottom: 190px;
    left: 50px;
    width: 240px;
    height: auto;
    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8)),
        url('https://images.pexels.com/photos/375691/pexels-photo-375691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    border: none !important;
    outline: none !important;
    overflow: hidden;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Be Vietnam', sans-serif;
}


.leaflet-control-rainviewer-active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(0, 50, 0, 0.2), rgba(0, 30, 0, 0.3));
    z-index: 1;
}

.leaflet-control-rainviewer-active > * {
    position: relative;
    z-index: 2;
}

.leaflet-control-rainviewer-active * {
    border: none !important;
    outline: none !important;
    border-radius: inherit;
    /* Ensure child elements follow the parent border radius */
}

.leaflet-control-rainviewer-active a.leaflet-control-rainviewer-button {
    display: none;
}

.leaflet-control-rainviewer-container {
    margin: auto;
    text-align: center;
    position: relative;
    font-family: 'Be Vietnam', sans-serif;
}

/* Set the background color of the sliders to green */
.leaflet-control-rainviewer .leaflet-control-rainviewer-opacityslider,
.leaflet-control-rainviewer .leaflet-control-rainviewer-positionslider {
    background-color: green !important;
}

/* Additional styling for the labels */
.leaflet-control-rainviewer .leaflet-control-rainviewer-label {
    display: block;
    clear: both;
    margin-top: 15px;
    font-family: 'Be Vietnam', sans-serif;
}


.leaflet-control-rainviewer-timestamp {
    text-align: center;
    margin: auto;
    clear: both;
    margin-top: 15px;
}
/*Close button*/
.leaflet-control-rainviewer-close {
    position: absolute;
    right: 4px;
    top: 8px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

.leaflet-control-rainviewer-close:hover {
    opacity: 0.9;
    cursor: pointer;
}

.leaflet-control-rainviewer-close:before,
.leaflet-control-rainviewer-close:after {
    position: absolute;
    right: 8px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #ffffff;
}

.leaflet-control-rainviewer-close:before {
    transform: rotate(45deg);
}

.leaflet-control-rainviewer-close:after {
    transform: rotate(-45deg);
}

.leaflet-control-rainviewer a.leaflet-control-rainviewer-button {
    background: #ffffff no-repeat 0 0;
    background-size: 36px 36px;
    border-radius: 50px !important;
    margin-left: 10px;
    margin-top: -50px;
    outline: #ffffff !important;
    border: #ffffff !important;
    box-shadow: none !important;
    position: absolute;
    bottom: 100px;
    left: 1px;
    width: 40px;
    height: 40px;
    position: relative; /* Added for tooltip positioning */
}

.leaflet-control-rainviewer a.leaflet-control-rainviewer-button::before {
    content: "\f471";
    font-family: 'uicons-regular-straight', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

/* Tooltip for rain viewer button */
.leaflet-control-rainviewer a.leaflet-control-rainviewer-button::after {
    content: "Rain Viewer";
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    z-index: 1;
    background-color: #eeeeee;
    color: #555;
    text-align: center;
    padding: 0 8px; /* Changed padding to horizontal only */
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
    height: 30px;
    line-height: 15px; /* Added to vertically center the text */
    display: flex; /* Added for better vertical centering */
    align-items: center; /* Added for better vertical centering */
}

.leaflet-control-rainviewer a.leaflet-control-rainviewer-button::after::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #eeeeee transparent transparent;
}

/* Show tooltip on hover */
.leaflet-control-rainviewer a.leaflet-control-rainviewer-button:hover::after {
    visibility: visible;
    opacity: 1;
}

.leaflet-control-rainviewer a.leaflet-control-rainviewer-button:focus,
.leaflet-control-rainviewer a.leaflet-control-rainviewer-button:hover {
    outline: none !important; /* Ensure there's no outline on focus or hover */
    border: none !important; /* Ensure there's no border on focus or hover */
    box-shadow: none !important; /* Ensure there's no box shadow on focus or hover */
}

.leaflet-touch .leaflet-control-rainviewer a {
    background-position: 2px 2px;
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .leaflet-control-rainviewer a {
        background-image: url(images/rainviewer@2x.png);
    }
}


/* Rain Viewer Controls */
/* Set the background of the start/stop button to transparent */
.leaflet-control-rainviewer-startstop {
    background-color: #59b55e !important;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    /* Add padding to the left and right */
    height: 30px;
    /* Adjust the height as needed */
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add box shadow */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

/* Hover effect for the start/stop button */
.leaflet-control-rainviewer-startstop:hover {
    background-color: #4ca34c !important;
    /* Change background color on hover */
}

/* Set the background color of the buttons to gray and make them circular */
.leaflet-control-rainviewer-next,
.leaflet-control-rainviewer-prev {
    background-color: #ccc !important;
    border-radius: 50% !important;
    width: 30px;
    /* Adjust the width as needed */
    height: 30px;
    /* Adjust the height as needed */
    display: inline-block;
    /* Change display property to inline-block */
    cursor: pointer;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    /* Add text shadow */
    margin: 0 2px;
    /* Add margin between the buttons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add box shadow */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

/* Hover effect for the next button */
.leaflet-control-rainviewer-next:hover {
    background-color: #b3b3b3 !important;
    /* Change background color on hover */
}

/* Hover effect for the prev button */
.leaflet-control-rainviewer-prev:hover {
    background-color: #b3b3b3 !important;
    /* Change background color on hover */
}

/* Style for the icon inside the button */
.leaflet-control-rainviewer-next .material-symbols-outlined,
.leaflet-control-rainviewer-prev .material-symbols-outlined {
    color: #ffffff;
    /* Adjust the icon color as needed */
    font-size: 24px;
    /* Adjust the icon size as needed */
}

/*Slider*/


/* Slider styles */
.leaflet-control-rainviewer-opacityslider,
.leaflet-control-rainviewer-positionslider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Thumb styles */
.leaflet-control-rainviewer-opacityslider::-webkit-slider-thumb,
.leaflet-control-rainviewer-positionslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

/* Track styles */
.leaflet-control-rainviewer-opacityslider::-webkit-slider-runnable-track,
.leaflet-control-rainviewer-positionslider::-webkit-slider-runnable-track {
  height: 8px;
  background: #d3d3d3;
  border-radius: 4px;
}

/* Active part styles */
.leaflet-control-rainviewer-opacityslider::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #4CAF50 0%, #4CAF50 var(--value, 0%), #d3d3d3 var(--value, 0%));
}

.leaflet-control-rainviewer-positionslider::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #4CAF50 0%, #4CAF50 var(--value, 0%), #d3d3d3 calc(100% - var(--value, 0%)));
}


