/*start search*/
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline-width: 1px;
    outline-color: #ccc;
}

.search-bar button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-right: 80px;
}

.search-bar button:hover {
    background-color: #ddd;
}
/*end search*/

/*
.tooltip-bottom {
    position: absolute;
    top: calc(100% + 10px);
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
}*/

.search-bar button:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 70%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.search-bar button:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}