/*start search*/
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline-width: 1px;
    outline-color: #ccc;
}

.search-bar button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button:hover {
    background-color: #ddd;
}
/*end search*/