/* Start search */
.search-bar-container {
    position: relative;
    z-index: 1000; /* Ensure it's above the map */
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline-width: 1px;
    outline-color: #ffffff;
}

.search-bar button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-right: 80px;
    color: #ffffff;
    position: relative;
}

.search-bar button:hover {
    background-color: #ddd;
}

.search-bar button .tooltip-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
}

.search-bar button:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
}

/* Suggestions container */
#suggestionsContainer {
    position: absolute;
    top: 100%; /* Position it right below the search bar */
    left: 0;
    width: 250px; /* Match the width of the search input */
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.suggestion:last-child {
    border-bottom: none;
}

.suggestion:hover {
    background-color: #f5f5f5;
}

.suggestion .material-symbols-outlined {
    margin-right: 10px;
    color: #555;
}

.suggestion.no-result {
    color: #888;
    font-style: italic;
}

.suggestion.no-result .material-symbols-outlined {
    color: #888;
}
/* End search */


/*
.tooltip-bottom {
    position: absolute;
    top: calc(100% + 10px);
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
}*/

.search-bar button:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 70%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.search-bar button:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

