body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Be Vietnam', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
}

.leaflet-popup-content-wrapper {
    min-width: 100px !important;
    max-width: 300px !important;
    border-radius: 5px;
    font-family: 'Be Vietnam', sans-serif;
}


.tooltip-right {
    position: absolute;
    top: 50%;
    right: calc(100% + 10px);
    transform: translateY(-50%);
    z-index: 1;
    background-color: #ffffff;
    color: #555;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
}

.tooltip-right::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
}

.tooltip-left {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    z-index: 1;
    background-color: #ffffff;
    color: #555;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
}

.tooltip-left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    /* Adjust this value as needed */
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
}



.tooltip-bottom {
    position: absolute;
    top: calc(100% + 10px);
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #ffffff;
    color: #555;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    outline: none;
}

.tooltip-bottom::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 70%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}


/*Start Menu Bar*/
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-title {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    padding: 0 30px;
    font-size: large;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 1200;
    color: #306b1b;
}

.right-section {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.company-logo {
    max-width: 100px;
    max-height: 40px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .search-bar {
        right: 20%;
    }

    .downloadProjSheetsAsZip-button {
        right: 2%;
    }

    .downloadProjectListAsExcel-button {
        right: 6%;
    }

    .filterProjects-button {
        right: 10%;
    }
}

@media only screen and (max-width: 576px) {
    .search-bar {
        right: 12%;
    }

    .downloadProjSheetsAsZip-button {
        right: 0;
    }

    .downloadProjectListAsExcel-button {
        right: 4%;
    }

    .filterProjects-button {
        right: 8%;
    }
}

/*End Menu Bar*/
.stats-button {
    position: absolute;
    top: 210px;
    left: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.stats-button:hover {
    background-color: #c9c9c9;
}

.stats-button:hover .tooltip-left {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.stats-button span {
    line-height: 1;
}

.slideMenuStats {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9998;
}

.slideMenuStats.active {
    width: 400px;
}

.slideMenuStats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 15%;
}

.slideMenuStats-close {
    position: absolute;
    top: 80px;
    right: 10px;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}

.dashboard-title {
    font-weight: none;
    font-size: 24px;
    color: rgb(65, 65, 65);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 80px;
}

.device-count {
    font-size: 80px;
    color: #306b1b;
    margin-top: 0px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
}

.totalfarmarea-sum {
    font-size: 60px;
    color: #545454;
    margin-top: 0px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
}

.needattention-sum {
    font-size: 60px;
    color: #fc2a2a;
    margin-top: 0px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
}

.currentproductivity-sum,
.expectedproductivity-sum {
    font-size: 25px;
    color: #545454;
    margin-top: 0px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
}



.section-title {
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Divider style */
.divider {
    width: 50%;
    border-top: 1px solid rgb(248, 248, 248);
    margin: 20px 0;
}

/* Farm Grid Layout */
.farm-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Farm Pair */
.farm-pair {
    width: 23%;
    /* Adjust as needed */
    margin-bottom: 20px;
    /* Adjust spacing between pairs */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Farm Count */
.coffeefarms-count,
.durianfarms-count,
.pepperfarms-count,
.teafarms-count {
    font-size: 30px;
    /* Adjust font size */
    font-weight: bold;
    /* Adjust font weight */
    margin-bottom: 10px;
    /* Adjust spacing between count and title */
    text-align: center;
    color: #545454;
}

/* Section Title */
.section-title {
    font-size: 12px;
    /* Adjust font size */
    text-align: center;
    margin-bottom: -2px;
    /* Adjust spacing between title and next element */
    margin-top: -15px;
}

/* Farm Icon */
.farm-icon {
    width: 50px;
    /* Adjust icon width */
    height: 50px;
    /* Adjust icon height */
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    /* Adjust spacing between icon and count */
}


/* Coffee Farm Icon */
.coffeefarms-icon {
    background-image: url('https://i.ibb.co/7XCkdBx/icons8-coffee-beans-96.png');
    margin-bottom: -2px;
    margin-top: -20px;
}

/* Durian Farm Icon */
.durianfarms-icon {
    background-image: url('https://i.ibb.co/6Jw8jjP/icons8-durian-96.png');
    margin-bottom: -2px;
    margin-top: -20px;
}

/* Pepper Farm Icon */
.pepperfarms-icon {
    background-image: url('https://i.ibb.co/WxVZrLN/icons8-pepper-96.png');
    margin-bottom: -2px;
    margin-top: -20px;
}

/* Tea Farm Icon */
.teafarms-icon {
    background-image: url('https://i.ibb.co/DGScVH9/icons8-tea-leaves-64.png');
    margin-bottom: -2px;
    margin-top: -20px;
}


/* Basemap Switcher */
.basemap-control {
    position: absolute;
    bottom: 5px;
    left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.basemap-control img {
    width: 85px;
    height: 85px;
    transition: transform 0.2s ease;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.basemap-label {
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    position: relative;
    text-align: center;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjusted color */
    border-radius: 0 0 15px 15px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    width: 85px;
    transform: translateY(10px);
    /* Initially move label 10px above bottom */
    font-family: 'Be Vietnam', sans-serif;
}

.basemap-control:hover .basemap-label {
    transform: translateY(calc(-100% - -1px));
    opacity: 1;
}

.basemap-control {
    position: relative;
    z-index: 99999;
}

.basemap-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.basemap-label {
    font-size: 12px;
    text-align: center;
}

/*start app info button related*/
.info-button {
    position: absolute;
    top: 160px;
    left: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-button:hover {
    background-color: #c9c9c9;
}

.info-button:hover .tooltip-left {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.info-button span {
    line-height: 1;
}

.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    font-size: smaller;
}

.info-image {
    position: relative;
    background-image: url('https://uploads.nguoidothi.net.vn/content/1b5cdbd6-2a1d-497d-ab5e-ae8451669583.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.info-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
}

.info-logo {
    text-align: center;
    margin-bottom: -10px;
}

.info-logo img {
    width: 30px;
    height: auto;
}

.info-content {
    flex: 1;
    margin-top: -22px;
    font-family: 'Be Vietnam', sans-serif;
    text-align: center;
}

.info-content h3 {
    font-family: 'Be Vietnam', sans-serif;
}

.dismiss-button {
    background-color: #306b1b;
    ;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-self: flex-end;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dismiss-button:hover {
    background-color: #0097ae;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*end app info button related*/









/*Historical Soil Data Line Chart pop up*/
.popup-historicalsoildata {
    position: fixed;
    top: 130px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999999;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #555;
    width: 400px;
    /* Set the desired width */
    height: 80%;
    /* Set the desired height */

}

.popup-historicalsoildata::-webkit-scrollbar {
    width: 8px;
}

.popup-historicalsoildata::-webkit-scrollbar-track {
    background: #f1f1f1;
    right: 3px;
    /* Push scrollbar to the left by 3px */
}

.popup-historicalsoildata::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 4px;
}

.popup-historicalsoildata::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h4.title {
    display: flex;
    align-items: center;
    color: rgb(65, 65, 65);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.headerNPK,
.headerMoist,
.headerpH,
.headerTemp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNPK,
.headerMoist,
.headerpH,
.headerTemp,
h5.title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
    font-weight: 900;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: #000;
}

/*canvas {
    border: 1px solid #e0e0e000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}*/

.header {
    cursor: move;
}

.popup-historicalsoildata canvas {
    margin-bottom: 15px;
    /* Add bottom margin of 15px */
}



/*Locate User Button*/
.userlocation-button {
    position: absolute;
    bottom: 240px;
    right: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userlocation-button:hover {
    background-color: #c9c9c9;
}

.userlocation-button:hover .tooltip-right {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.userlocation-button span {
    line-height: 1;
}

/*Farm list Button*/
.farmlist-button {
    position: absolute;
    top: 300px;
    right: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.farmlist-button:hover {
    background-color: #c9c9c9;
}

.farmlist-button:hover .tooltip-right {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.farmlist-button span {
    line-height: 1;
}


/*Launch Mapbox 3D Viewer*/
.mapbox3Dterrain-button {
    position: absolute;
    top: 250px;
    right: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapbox3Dterrain-button:hover {
    background-color: #c9c9c9;
}

.mapbox3Dterrain-button span {
    line-height: 1;
}

.mapbox3Dterrain-button:hover .tooltip-right {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}



/*Style to replace 3D text wit elevation icon on hover*/
.view-in-3D:hover #text {
    display: none;
    /* Hide the text content when the button is hovered */
}


/*Attention Button*/

.needs-attention {
    position: absolute;
    right: 20px;
    top: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Be Vietnam', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: 4px;
}

.needs-attention span.attention-text {
    color: rgb(226, 94, 94);
}

.needs-attention:hover {
    background-color: rgb(222, 136, 136);
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.active-needs-attention {
    background-color: rgb(240, 90, 90);
    color: white;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.needs-attention:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

/*Coffee Filters Button*/

.coffeeTrees-filter {
    position: absolute;
    right: 180px;
    top: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Be Vietnam', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: 4px;
}

.coffee-icon {
    width: 25px;
    /* Adjust the size as needed */
    height: 25px;
    /* Adjust the size as needed */
}

.coffee-text {
    margin-left: 4px;
}

.coffeeTrees-filter:hover {
    background-color: rgb(74, 0, 0);
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.coffeeTrees-filter:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.active-coffee {
    background-color: rgb(74, 0, 0);
    color: white;
}

/*Durian Filters Button*/
.durianTrees-filter {
    position: absolute;
    right: 285px;
    top: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Be Vietnam', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: 4px;
}

.durian-icon {
    width: 25px;
    /* Adjust the size as needed */
    height: 25px;
    /* Adjust the size as needed */
}

.durian-text {
    margin-left: 4px;
}

.durianTrees-filter:hover {
    background-color: #ebaa04;
    color: rgb(44, 44, 44);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.durianTrees-filter:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.active-durian {
    background-color: #ebaa04;

}

/*Pepper Filters Button*/
.pepperFarms-filter {
    position: absolute;
    right: 390px;
    top: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Be Vietnam', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: 4px;
}

.pepper-icon {
    width: 25px;
    /* Adjust the size as needed */
    height: 25px;
    /* Adjust the size as needed */
}

.pepper-text {
    margin-left: 4px;
}

.pepperFarms-filter:hover {
    background-color: rgb(235, 21, 21);
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.pepperFarms-filter:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}

.active-pepper {
    background-color: rgb(235, 21, 21);
    color: white;
}

/*Pepper Filters Button*/
.teaFarms-filter {
    position: absolute;
    right: 497px;
    top: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Be Vietnam', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: 4px;
}

.tea-icon {
    width: 25px;
    /* Adjust the size as needed */
    height: 25px;
    /* Adjust the size as needed */
}

.tea-text {
    margin-left: 4px;
}

.teaFarms-filter:hover {
    background-color: rgb(0, 162, 68);
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.teaFarms-filter:hover .tooltip-bottom {
    visibility: visible;
    opacity: 1;
    font-family: 'Be Vietnam', sans-serif;
}


.active-tea {
    background-color: rgb(0, 162, 68);
    color: white;
}



.custom-marker {
    display: flex;
    align-items: center;
}

.marker2D-label {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(101, 101, 101);
    font-size: 12px;
    font-weight: normal;
    padding: 3px 6px;
    border-radius: 10px;
    margin-right: 8px;
    white-space: nowrap;
    font-family: 'Be Vietnam', sans-serif;
    position: absolute;
    top: -10px;
    left: 30px;
    background-color: #ffffff00;
    border: none;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


.marker-icon {
    width: 40px;
    height: 40px;
}

/*Inset Map*/

#inset-map {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 160px;
    height: 160px;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}




/* Time Trend Soil Historical Data*/
.timeTrend-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    /* Creates space between buttons */
}

.timeTrend-buttons button {
    padding: 10px 10px;
    border: none;
    border-radius: 100px;
    background-color: #fcfbfb;
    color: rgb(48, 48, 48);
    font-size: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.timeTrend-buttons button:hover {
    background-color: #019d6b;
    color: #f1f1f1;
}

.timeTrend-buttons button:active,
.timeTrend-buttons button.active {
    background-color: #019d6b;
    color: #f1f1f1;
}

.timeTrend-buttons button:active {
    transform: translateY(0);
}


/*Logout*/
.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #ffffff;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    background-color: var(--af-white);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: var(--night-rider);
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--night-rider);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 13%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}


/* Recommendation Tooltip */
/* Common Tooltip Styling */
.tooltip {
    display: none;
    position: absolute;
    background-color: white;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 0.875rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: translateY(-15px);
    /* Adjust the translateY value as needed */
    pointer-events: none;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 200;
    width: 250px;
}

/* Hover Effect  */
.headerNPK:hover .tooltip,
.headerMoist:hover .tooltip,
.headerpH:hover .tooltip,
.headerTemp:hover .tooltip {
    display: block;
    opacity: 1;
    transform: translateY(5px);
    /* Adjust the translateY value opposite to the initial value */
    pointer-events: auto;
}

